#container{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}
button{
    font-size: 1.5em;
    border-radius: 10px;
    padding:10px 15px;
    border:none;
    font-weight: bold;
    cursor:pointer;
    background-color: rgb(124, 124, 242);
    color:white;
transition: all 0.3s;

}
button:hover{
    background-color: rgb(43, 43, 220);
    color: black;
}
button:active{
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
}
input{
   font-size: 2rem; 
   width:250px;
   text-align: center;
   font-weight: bold;
}
#diceResult{
    margin: 25px;
}
#diceImages img{
    width:150px;
    margin:5px;
}