body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 228, 228);
}
h1{
    font-size: 3.5rem;
    color:rgb(42, 42, 42);

}
.choices{
    margin-bottom: 30px;
    
}
 button{
    font-size: 7.5rem;
    min-width: 165px;
    margin:0 10px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.5s ease;
}
 button:hover{
    background-color:rgb(34, 35, 35); 
}

#playerDisplay, #computerDisplay{
    margin-top: 20px;
    font-size: 2.5em;
    color:rgb(255, 0, 230);
    font-weight: bold;
}
#resultDisplay{
    font-size: 5rem;
    margin-top: 20px;
}
.greenText , #playerScoreDisplay{
    
  color:rgb(9, 136, 9);
}
.redText , #computerScoreDisplay{
  color:rgb(214, 3, 3);
}
.scoreDisplay{
    font-size: 2rem;
}